body {
    font-family: "Montserrat", sans-serif;
}

.toast-notification-component {
    position: fixed;
}

.toast-notification-div {
    cursor: pointer;
    width: 100px;

    margin: 10px;
    padding: 1px;

    box-shadow: 0px 2px 5px #ccc;
    border-radius: 7px;
}

.toast-message {
    text-align: center;
}

.btn-main-div {
    margin-top: 300px;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 10px;
    padding: 10px 15px;

    border: 2px solid #000;
    border-radius: 8px;

    background-color: #fff;
    color: #000;
    box-shadow: 0px 2px 5px #ccc;
    cursor: pointer;

    transform: scale(1, 1);
    transition: transform .3s ease;
}

.btn:hover {
    transform: scale(1.1, 1.1);
}

@keyframes slide-top {
    0% {
        transform: translateY(-70px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide-bottom {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(3%);
    }
}